.logo {
  width: 190px;
}

.navbar {
  background-color: #58595b !important;
  border-color: #E7E7E7;
}

.title{
  font-size: 4em;
  font-weight: 550;
  color: #d71921;
}

.nav-link{
  font-size: 1.3em;
  color: #ffffff !important;
}

input.btn{
  font-size: 1.3em;
  background-color: #d71921 !important;
  border-color: #d71921;
}
.btn{
  font-size: 1.3em;
  background-color: #d71921 !important;
  border-color: #d71921;
}

img {
  display: block
}
@media (max-width: 1200px) {
  img {
    display: none
  }
}

@media (max-width: 1000px) {
  .nav-link {
    font-size: 1em;
  }
}